# Preprocessing and Training Data

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
path = '/Users/chinmayasukumar/Documents/Springboard/Capstone #2/data/raw/steel_clean.csv'
steel = pd.read_csv(path)

In [3]:
steel.head()

,c,si,mn,p,s,ni,cr,mo,cu,v,al,n,nb+ta,temp,yield,tensile,elongation,red_area
0,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0,27,342,490,30,71
1,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0,100,338,454,27,72
2,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0,200,337,465,23,69
3,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0,300,346,495,21,70
4,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0,400,316,489,26,79

#### X and y datasets are created from the steel DataFrame

In [40]:
X = steel.iloc[:,0:13]
y = steel['yield']

In [41]:
X.head()

,c,si,mn,p,s,ni,cr,mo,cu,v,al,n,nb+ta
0,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0
1,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0
2,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0
3,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0
4,0.12,0.36,0.52,0.009,0.003,0.089,0.97,0.61,0.04,0.0,0.003,0.0066,0.0

In [42]:
y.head()

0    342
1    338
2    337
3    346
4    316
Name: yield, dtype: int64

## 1.0 Scaling features

In [33]:
scaler = StandardScaler()
scaled_steel = scaler.fit_transform(steel)

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [47]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(639, 13) (639,) (275, 13) (275,)